@import "../shared/scss/styles";

.page-container {
  width: 100%;
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .page-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
}

header {
  width: 100%;
  height: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  > .header-container {
    height: 30px;
    width: 100%;
    padding-left: $s-size;
    padding-right: $s-size;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    h1 {
      padding-left: $s-size;
      font-size: $s-size;
      margin: 0;
      z-index: 100;

      @media (min-width: $desktop-breakpoint-s) {
        font-size: $m-size;
      }
    }

    p {
      padding-right: $s-size;
    }

    span {
      color: $lirik-blue;
    }
  }
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
